<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <img
      mat-card-avatar
      [src]="data().picture | safeUrl" />
    <mat-card-title>{{ data().name }}</mat-card-title>
    <mat-card-subtitle>{{ data().psycologicalSpecialty }}</mat-card-subtitle>
    <div class="flex-grow"></div>
    <button mat-icon-button (click)="opened.set(!opened())">
      <mat-icon [@rotateIcon]="opened() ? 'expanded' : 'collapsed'"
        >arrow_downward</mat-icon
      >
    </button>
  </mat-card-header>
  <mat-card-content [@expandContent]="opened() ? 'expanded' : 'collapsed'">
    <div class="flex flex-col gap-4">
      <div>
        <p class="mat-body-large">CRP: {{ data().crpId }}</p>
        <p class="mat-body-medium">Endereço: {{ data().address }} </p>
      </div>
      <div>
        <p class="mat-body-medium">Telefone: {{ data().phone }}</p>
        <p class="mat-body-medium">Instagram: {{ data().instagramAddress }}</p>
      </div>
      <div>
        <p class="mat-body-medium">Público alvo: {{ data().targetAudience }}</p>
        <p class="mat-body-medium">Modalidade de serviço: {{ data().serviceModality.join(', ') }}</p>
        <p class="mat-body-medium">Método de pagamento: {{ data().paymentMethod.join(', ') }}</p>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions
    align="end"
    class="gap-2"
    [@expandContent]="opened() ? 'expanded' : 'collapsed'">
    <button mat-flat-button (click)="copyPhoneToClipboard()">Entrar em contato</button>
  </mat-card-actions>
</mat-card>
