@use '@angular/material' as mat;

:host {
  @include mat.expansion-overrides((
    container-background-color: var(--mat-sys-surface-container-high),
  ));
}

.pic-icon {
  color: var(--mat-sys-on-surface-variant);
  transform: scale(4);
}