@mixin typography-classes {
  // Display
  .mat-display-large {
    font: var(--mat-sys-display-large);
  }
  .mat-display-medium {
    font: var(--mat-sys-display-medium);
  }
  .mat-display-small {
    font: var(--mat-sys-display-small);
  }

  // Headline
  .mat-headline-large {
    font: var(--mat-sys-headline-large);
  }
  .mat-headline-medium {
    font: var(--mat-sys-headline-medium);
  }
  .mat-headline-small {
    font: var(--mat-sys-headline-small);
  }

  // Title
  .mat-title-large {
    font: var(--mat-sys-title-large);
  }
  .mat-title-medium {
    font: var(--mat-sys-title-medium);
  }
  .mat-title-small {
    font: var(--mat-sys-title-small);
  }

  // Body
  .mat-body-large {
    font: var(--mat-sys-body-large);
  }
  .mat-body-medium {
    font: var(--mat-sys-body-medium);
  }
  .mat-body-small {
    font: var(--mat-sys-body-small);
  }

  // Label
  .mat-label-large {
    font: var(--mat-sys-label-large);
  }
  .mat-label-medium {
    font: var(--mat-sys-label-medium);
  }
  .mat-label-small {
    font: var(--mat-sys-label-small);
  }
}
