<mat-sidenav-container class="h-screen">
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        mat-icon-button
        aria-label="icon-button with menu icon"
        (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="flex-grow"></span>
      <h1>Psicoquadro</h1>
      <span class="flex-grow"></span>
      <button mat-icon-button aria-label="account icon" routerLink="/login">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>
    <div class="relative flex justify-center">
      <div class="max-w-120 px-6 pb-6">
        <router-outlet />
      </div>
    </div>
  </mat-sidenav-content>
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item routerLink="/" [activated]="isRouteActive('/')">
        <mat-icon matListItemIcon>home</mat-icon>
        Início</a>
      <a mat-list-item routerLink="/login" [activated]="isRouteActive('/login')">
        <mat-icon matListItemIcon>login</mat-icon>
        Entrar
      </a>
      <a mat-list-item routerLink="/">
        <mat-icon matListItemIcon>logout</mat-icon>
        Sair da conta
      </a>
      <a mat-list-item routerLink="/register" [activated]="isRouteActive('/register')">
        <mat-icon matListItemIcon>person_add</mat-icon>
        Criar conta
      </a>
      <a mat-list-item routerLink="/config" [activated]="isRouteActive('/config')">
        <mat-icon matListItemIcon>settings</mat-icon>
        Configurações</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
